<!doctype html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
<style type="text/css">
    body {
        background: #ccc;
        font-family: monospace;
    }
    img {
        image-rendering: optimizeSpeed;
        image-rendering: -webkit-optimize-contrast;
    }
    h5 {
      margin-top: 12px;
      margin-bottom: 0;
    }
    .sprite-list {
      padding: 32px;
      flex: 1;
    }
    .sprite-list .sprite {
        width: 128px;
        min-height: 128px;
        text-align: center;
    }
    .sprite-list .map {
        width: auto;
    }
    .sprite-list .map img {
        width: auto;
    }
    .sprite-list .sprite img {
        margin-top: 32px;
        width: 64px;
    }
    .sprite-list .map img {
        margin-top: 32px;
    }
    .sprite-list .sprite p {
        font-size: 12px;
        margin-top: 8px;
    }
    .pkmn {
      padding: 16px 32px;
    }
    .pkmn:nth-child(2n) {
      background: #f0f0f0;
    }
    .pkmn .evo {
      line-height: 32px;
      color: #555;
    }
    .pkmn .evo .name {
      
    }
    .lvl {
      padding: 4px 8px;
      background: #ddd;
      font-size: 11px;
      margin-right: 4px;
    }
    .map img {
      width: auto;
    }
    .sprite img {
      width: 32px;
    }
</style>
</head>
<body ng-app="pykemod" ng-controller="main">

PKMN LIST
<!--
<div id="pokemon-names" style="padding: 32px;">
    <div data-ng-repeat="pokemon in pokemons" class="pkmn" ng-id="pkmn-{{pokemon.id}}">
        <img ng-src="/char.png?c={{c - 127}}"
             style="width: 16px; margin-top: 16px"
             ng-repeat="c in pokemon.name track by $index">
        <div ng-if="pokemon.evolutions && pokemon.evolutions.length > 0">
          <h5>Evolutions</h5>
          <ul>
            <li data-ng-repeat="evolution in pokemon.evolutions" class="evo">
              <span class="name">
                <a ng-href="#pkmn-{{evolution.into_id}}">
                  <img ng-src="/char.png?c={{c - 127}}"
                     style="width: 12px;"
                     ng-repeat="c in pokemons[evolution.into_id - 1].name track by $index">
                </a>
              </span>
              <span ng-if="evolution.type === 1">
                &nbsp;at level {{ evolution.level }}
              </span>
              <span ng-if="evolution.type === 2">
                &nbsp;using {{ evolution.stone_id }}
              </span>
              <span ng-if="evolution.type === 3">
                &nbsp;interchanging.
              </span>
            </li>
          </ul>
        </div>

        <div ng-if="pokemon.learns && pokemon.learns.length > 0">
          <h5>Learned Moves</h5>
          <ul>
            <li data-ng-repeat="learn in pokemon.learns" class="learn">
              <img ng-src="/char.png?c={{c - 127}}"
                     style="width: 12px;"
                     ng-repeat="c in moves[learn.move_id - 1] track by $index">
              at level {{ learn.level }}
            </li>
          </ul>
        </div>
    </div>
</div>
-->

<div style="padding:32px;">
  <h1>WILD DATA</h1>
  <table border="1">
    <thead>
      <tr>
        <th style="padding: 16px">Index</th>
        <th style="padding: 16px">Chance</th>
        <th style="padding: 16px">Pokemons</th>
        <th style="padding: 16px">Offset</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="w in wildData track by $index">
        <td style="text-align: center">
          {{ $index }}
        </td>
        <td style="text-align: center">{{ w ? w.rate + '%' : '' }}</td>
        <td style="padding: 16px">
          <ul ng-if="w">
            <li ng-repeat="chance in w.chances track by $index">
              {{ chance.rate * 100 | number:0}}% : 
              <span class="lvl">LVL {{ chance.lvl }}</span>
              <img ng-src="/char.png?c={{c - 127}}"
                   style="width: 12px;"
                   ng-repeat="c in pokemons[chance.pkmn_id - 1].name track by $index">
            </li>
          </ul>
          <div ng-if="!w">
            Empty space
          </div>
        </td>
        <td style="text-align: center;">
          <span ng-if="w">
            0x{{ w.offset.toString(16).toUpperCase() }}
          </span>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div style="padding:32px;">
  <h1>EVOLUTIONS</h1>
  <table border="1">
    <thead>
      <tr>
        <th style="padding: 16px">Index</th>
        <th style="padding: 16px">From</th>
        <th style="padding: 16px">To</th>
        <th style="padding: 16px">How?</th>
        <th style="padding: 16px">Level</th>
        <th style="padding: 16px">Stone</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="e in evolutions track by $index">
        <td style="text-align: center">
          {{ $index }}
        </td>
        <!-- From Pokemon -->
        <td style="text-align: center">
          <img ng-src="/char.png?c={{c - 127}}"
            style="width: 12px;"
            ng-repeat="c in e.from_pokemon.name track by $index">
        </td>

        <!-- To Pokemon -->
        <td style="padding: 16px">
          <img ng-src="/char.png?c={{c - 127}}"
            style="width: 12px;"
            ng-repeat="c in e.to_pokemon.name track by $index">
        </td>

        <!-- How it evolves -->
        <td style="text-align: center;">
          {{ e.type.description }}
        </td>

        <!-- Which level -->
        <td style="text-align: center">
          {{ e.level }}
        </td>

        <!-- Evolution stone -->
        <td style="text-align: center">
          <img ng-src="/char.png?c={{c - 127}}"
            style="width: 12px;"
            ng-repeat="c in e.stone.name track by $index">
          ({{ e.stone.id }})
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div style="padding:32px;">
  <h1>ITEMS</h1>
  <table border="1">
    <thead>
      <tr>
        <th style="padding: 16px">ID</th>
        <th style="padding: 16px">Name</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="i in items track by $index">
        <td style="text-align: center">
          {{ i.id }}
        </td>
        <!-- From Pokemon -->
        <td style="text-align: center">
          <img ng-src="/char.png?c={{c - 127}}"
            style="width: 12px;"
            ng-repeat="c in i.name track by $index">
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div>
    <h1>Places names</h1>
    <div ng-repeat="(index, place) in placesNames">
        {{index + 1}}
        <img ng-src="/char.png?c={{c - 127}}"
           style="width: 12px;"
           ng-repeat="c in place track by $index">
    </div>
</div>


<div style="text-align: center; padding: 24px   ">
    <button ng-click="loadMapSprites()">Outdoor sprites</button>
    <button ng-click="loadIndoorSprites()">Indoor sprites</button>
    <button ng-click="loadHouse2Sprites()">House 2 sprites</button>
    <button ng-click="loadMapTiles()">Outdoor Map tiles</button>
    <button ng-click="loadHouseMapTiles()">House Map tiles</button>
    <button ng-click="loadHouse2MapTiles()">House 2 Map tiles</button>
    <div style="border: 1px solid black; margin: 8px; padding: 8px">
      <input ng-model="mapOffset" />
      <button ng-click="loadMaps()">Maps</button>
      
    </div>
    <button ng-click="loadEvolutions()">Load Evolutions</button>
    <button ng-click="loadItems()">Load Items</button>
    <button ng-click="loadWild()">Load Wild Data</button>
    <button ng-click="loadCharacterSprites()">Load character sprites</button>
    <button ng-click="loadPlaces()">Load places names</button>

    <div>
      <img ng-src="{{ discoverSource }}" style="width: 200px; height: 200px;">
      <input type="range" ng-model="discoverOffset" style="width: 100%"
        min="457604"
        max="459604"
        step="1"
      >
      <div>{{ discoverHex }} ({{ discoverOffset }})</div>
      <button ng-click="startDiscovering()">Discover</button>
    </div>

    <div>
      <h5>New Map from offset</h5>
      <input ng-model="newMapOffset">
      <button ng-click="loadMapFromOffset()">
    </div>
</div>

<div class="row sprite-list">
    <div ng-class="[isMap ? 'map' : 'sprite']" ng-repeat="(index, sprite) in sprites">
        <div class="card-body">
            <img ng-src="{{sprite.url}}">
            <p>
                {{ sprite.offset }}<br />
                RID: {{ index + (isMapTile ? 0 : 1) }}
                ({{ '0x' + (index + (isMapTile ? 0 : 1)).toString(16).toUpperCase() }})
            </p>
        </div>
    </div>
</div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.10/angular.min.js"></script>

<script>

// ???????           0x40000
// ???????           0x08000
// ROUTES PKMN       0x0D51A
// CHARACTERS A      0x10000
// OBJECTS IN MAP    0x11140
// POKEMON LOGO      0x11380:0x11A80
// LETTERS     8x8 : 0x11A80:0x11B00
// ?????????       : 0x11B00
// MAP PARTS   8x8 : 0x11E80
// KANTO TILEs 8x8 : 0x124b8
// CHARACTERS 16x16: 0x14000
// 
// MAP TILES   8x8 : 0x64010
// MAP TILES 16x16: 0x0645E0
// 
// MAP: 99040
// PALLET TOWN: 0x0182FB
// CHAR MAPS: 

var SPRITES_OFFSET = 0x011A80//99040;
var app = angular.module('pykemod', []);

// 1 = 1bpp
// 2 = 2bpp (planar)
var depth = 1;
var width = 8;
var height = 8;
//  8 -  8x8  - 1bpp
// 16 -  8x8  - 2bpp - planar
// 64 - 16x16 - 2bpp - planar
var isMapTile = false
var isMap = false
var step = 8;
var finalSize = width + ',' + height;

// PALLET TOWN: 0x0182FB

app.controller('main', function($scope, $http) {
    var sprites = [];

    // Prepare sprites to be shown
    /*for (var index = 0; index < 128; index++) {
        var offset = SPRITES_OFFSET + step * index;
        sprites.push({
            url: '/sprite?aoffset=' + offset.toString()
                + '&depth=' + depth + '&size=' + finalSize
                + '&is_map_tile=' + (isMapTile ? '1' : '0')
                + '&is_map=' + (isMap ? '1' : '0')
            ,
            offset: '0x' + offset.toString('16')
        })
    }*/

    $scope.rangeMin = 0x6e390;
    $scope.rangeMax = 1048576;

    $scope.discoverTimeout = null;
    $scope.discoverSource = "";
    $scope.discoverOffset = 409616 //0x011A80;
    $scope.discoverRun = false;

    $scope.isMap = true
    $scope.isMapTile = isMapTile;
    $scope.sprites = sprites;
    $scope.mapOffsets = [
      [0x182fb, [10,  9], "outdoor"], // PALLET TOWN
      [0x183ea, [20, 18], "outdoor"], // VIRIDIAN CITY
      [0x185e4, [20, 18], "outdoor"], // PEWER CITY
      [0x1882e, [20, 18], "outdoor"], // CERULEAN CITY
      [0x18a3d, [20, 18], "outdoor"], // LAVENDER TOWN
      [0x18c84, [20, 18], "outdoor"], // VERMILION CITY
      [0x1C0FA, [10, 18], "outdoor"], // ROUTE 1
      [0x191e4, [8, 8], "house"], // ROUTE 1
      [0x1c1fc, [4, 4], "house_2"],  // ASSAULTED HOUSE
      [0x5080e, [30, 9], "outdoor"], // ROUTE TO BILL's HOUSE
      [0x5c00e, [4, 4], "house"],    // Red's room
      [0x5c01e + 16 * 7, [4, 4], "house"],
      // [0x01C0FA + 13430 + 60000, [8, 8]], // ROUTE 2
    ]

    $scope.loadMaps = function() {
        var sprites = [];
        // var step = (width * height * depth) / 8;
        // Prepare sprites to be shown

        $scope.mapOffsets.forEach((mapOffset, index) => {
            var base_offset = parseInt(mapOffset[0]);
            var offset = base_offset;
            var sz = mapOffset[1][0] + ',' + mapOffset[1][1];
            const section = mapOffset[2].toString();

            sprites.push({
                url: '/sprite?aoffset=' + offset.toString()
                    + '&depth=' + depth + '&size=' + sz
                    + '&is_map_tile=0&is_map=1'
                    + '&map_section=' + section
                ,
                offset: '0x' + offset.toString('16')
            })
        })

        $scope.isMapTile = false;
        $scope.isMap = true;
        $scope.sprites = sprites;
    };

    $scope.loadMaps();

    $scope.loadPlaces = function() {
        fetch('/places.json').then(function(response) {
            return response.json();
        }).then(function(response) {
            $scope.$apply(function() {
                $scope.placesNames = response.names;
            })
        })
    }

    $scope.loadMapTiles = function() {
        var base_offset = 0x0645E0;
        var sprites = [];
        var step = (width * height * depth) / 4;
        // Prepare sprites to be shown
        for (var index = 0; index < 128; index++) {
            var offset = base_offset + step * index;
            sprites.push({
                url: '/sprite?aoffset=' + offset.toString()
                    + '&depth=' + depth + '&size=' + finalSize
                    + '&is_map_tile=1&is_map=0'
                ,
                offset: '0x' + offset.toString('16')
            })
        }
        $scope.isMapTile = true;
        $scope.isMap = false;
        $scope.sprites = sprites;
    }

    $scope.loadHouseMapTiles = function() {
        var base_offset = 0x65270;
        var sprites = [];
        var step = (width * height * depth) / 4;
        // Prepare sprites to be shown
        for (var index = 0; index < 19; index++) {
            var offset = base_offset + step * index;
            sprites.push({
                url: '/sprite?aoffset=' + offset.toString()
                    + '&depth=' + depth + '&size=' + finalSize
                    + '&is_map_tile=1&is_map=0'
                    + '&map_section=house'
                ,
                offset: '0x' + offset.toString('16')
            })
        }
        $scope.isMapTile = true;
        $scope.isMap = false;
        $scope.sprites = sprites;
    }

    $scope.loadHouse2MapTiles = function() {
        var base_offset = 0x65980;
        var sprites = [];
        var step = (width * height * depth) / 4;
        // Prepare sprites to be shown
        for (var index = 0; index < 36; index++) {
            var offset = base_offset + step * index;
            sprites.push({
                url: '/sprite?aoffset=' + offset.toString()
                    + '&depth=' + depth + '&size=' + finalSize
                    + '&is_map_tile=1&is_map=0'
                    + '&map_section=house_2'
                ,
                offset: '0x' + offset.toString('16')
            })
        }
        $scope.isMapTile = true;
        $scope.isMap = false;
        $scope.sprites = sprites;
    }

    $scope.loadMapSprites = function() {
        var depth = 2;
        var width = 8;
        var height = 8;
        var base_offset = 0x64010;
        var step = (width * height * depth) / 8;
        var finalSize = width + ',' + height;
        var sprites = [];

        // Prepare sprites to be shown
        for (var index = 0; index < 93; index++) {
            var offset = base_offset + step * index;
            sprites.push({
                url: '/sprite?aoffset=' + offset.toString()
                    + '&depth=' + depth + '&size=' + finalSize
                    + '&is_map_tile=0&is_map=0'
                ,
                offset: '0x' + offset.toString('16')
            })
        }
        $scope.isMapTile = false;
        $scope.isMap = false;
        $scope.sprites = sprites;
    }

    $scope.loadIndoorSprites = function() {
        var depth = 2;
        var width = 8;
        var height = 8;
        var base_offset = 0x64df0;
        var step = (width * height * depth) / 8;
        var finalSize = width + ',' + height;
        var sprites = [];

        // Prepare sprites to be shown
        for (var index = 0; index < 72; index++) {
            var offset = base_offset + step * index;
            sprites.push({
                url: '/sprite?aoffset=' + offset.toString()
                    + '&depth=' + depth + '&size=' + finalSize
                    + '&is_map_tile=0&is_map=0'
                ,
                offset: '0x' + offset.toString('16')
            })
        }
        $scope.isMapTile = false;
        $scope.isMap = false;
        $scope.sprites = sprites;
    }

    $scope.loadHouse2Sprites = function() {
        var depth = 2;
        var width = 8;
        var height = 8;
        var base_offset = 0x653b0;
        var step = (width * height * depth) / 8;
        var finalSize = width + ',' + height;
        var sprites = [];

        // Prepare sprites to be shown
        for (var index = 0; index < 93; index++) {
            var offset = base_offset + step * index;
            sprites.push({
                url: '/sprite?aoffset=' + offset.toString()
                    + '&depth=' + depth + '&size=' + finalSize
                    + '&is_map_tile=0&is_map=0'
                ,
                offset: '0x' + offset.toString('16')
            })
        }
        $scope.isMapTile = false;
        $scope.isMap = false;
        $scope.sprites = sprites;
    }

    $scope.loadCharacterSprites = function() {
      var step = 64;
      var sprites = [];
      // var baseOffset = 0x010000;
      var baseOffset = 0x014000;

      for (var index = 0; index < 225; index++) {
        var offset = baseOffset + step * index;
        sprites.push({
              url: '/sprite?aoffset=' + offset.toString()
                  + '&depth=2&size=16,16'
                  + '&is_map_tile=0&is_map=0'
              ,
              offset: '0x' + offset.toString('16')
          })
      }
      $scope.isMapTile = false;
      $scope.isMap = false;
      $scope.sprites = sprites;
    }

    $scope.loadEvolutions = function() {
      fetch('/evolutions.json').then(function(response) {
        return response.json();
      }).then(function(response) {
        $scope.$apply(() => {
          $scope.evolutions = response;
        });
      });
    }

    $scope.loadItems = function() {
      fetch('/items.json').then(function(response) {
        return response.json();
      }).then(function(response) {
        $scope.$apply(() => {
          $scope.items = response;
        });
      });
    }

    $scope.loadWild = function() {
      fetch('/wild.json').then(function(response) {
        return response.json();
      }).then(function(response) {
        $scope.$apply(function() {
          $scope.wildData = response.wild;
        })
      })
    }

    $scope.loadPokemons = function() {
        fetch('/pokemons.json').then(function(response) {
            return response.json();
        }).then(function(response) {
            $scope.$apply(function() {
                $scope.pokemons = response;
            });
        });
    }

    $scope.loadMoves = function() {
      fetch('/moves.json').then(function(response) {
        return response.json();
      }).then(function(response) {
        $scope.$apply(function() {
          $scope.moves = response.moves;
          $scope.loadPokemons();
        });
      });
    }();

    $scope.loadOthers = function() {
      var baseOffset = 0x6e390; // St Anne
      var limit = 75;

      baseOffset = 0x6ed30; limit = 90;
      baseOffset = 0x6f6b0; limit = 72;
      baseOffset = 0x76ff1; limit = 100;

      var others = [];
      var depth = 2;
      var width = 8;
      var height = 8;
      var finalSize = width + ',' + height;
      var step = (width * height * depth) / 8;

      for (var index = 0; index < limit; index++) {
        var offset = baseOffset + index * step;

        others.push({
          url: '/sprite?aoffset=' + offset.toString()
              + '&depth=' + depth + '&size=' + finalSize
              + '&is_map_tile=0&is_map=0&scale=5'
          ,
          offset: '0x' + offset.toString('16')
        });
      }

      $scope.sprites = others;
    }

    // $scope.loadOthers();

    $scope.loadMapFromOffset = function() {
      var parts = $scope.newMapOffset.split(',');
      $scope.mapOffsets.push([
        parseInt(parts[0]),
        parseInt(parts[1]),
        parseInt(parts[2])
      ]);
      $scope.loadMaps();
    }

    $scope.$watch('discoverOffset', function() {
      var others = [];
      var depth = 2;
      var width = 8;
      var height = 8;
      var finalSize = width + ',' + height;
      var step = (width * height * depth) / 8;

      $scope.discoverHex = '0x' + $scope.discoverOffset.toString('16');
      $scope.discoverSource = '/sprite?aoffset='
          + $scope.discoverOffset.toString() + '&'
          + 'is_map=0&'
          + 'is_map_tile=0&'
          + 'size='+finalSize+'&'
          + 'depth=' + depth;
    });
});

</script>

</body>
</html>